body{
    background-color: beige;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.ficha{
    background-color: lightblue;
    border: 2px solid black;
    margin: 15px auto;
    padding: 15px;
    width: 250px; 
}